# Objects directories - Files
objs
build
SDL2*
*.o
*.swo
*.txt
TODO*
*.data

# Static libraries - Headers
*.a
*.gch

# Executables - Scripts
a.out
doom-nukem

# Debug
*.dSYM

# Recovery
*.swp
.DS_Store
